
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore all database directories and files
database/
*.db

# Directories to ignore
/migrations/
## TODO Logs directory created if doesn't exist
/logs/**

# Virtual Environments
/venv
/instance
/instances

# Modules
/modules/custom/*
!/modules/custom/__init__.py